.layout-sidebar {
    
    .ant-layout-header {
        background: darkkhaki;
        padding: 15px;
    }
    
    .ant-layout-content {
        background: papayawhip;
    }
    
    .ant-layout-footer {
        padding: 15px;
        text-align: center;
    }
    
}