@import "../../assets/style/color";

.layout-sidebar {
    
    .ant-layout-sider-children {
        background: @slider-color;
    }
    
    .sider-trigger {
        cursor: pointer;
        padding: 10px;
        text-align: center;
        
        .anticon {
            font-size: 14px;
            color: #fff;
        }
    }
    
    .layout-sidebar__header {
        padding: 15px;
        height: 64px;
        background: @primary-color;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    // 菜单
    .ant-menu {
        background: @slider-color;
        
        .ant-menu-item {
            display: flex;
            align-items: center;
        }
        
        .anticon {
            color: #fff;
            font-size: 25px;
            margin-right: 15px;
        }
        
        .awe-menu-title {
            font-size: 16px;
        }
        
        .awe-hide-title {
            padding-left: 25px;
        }
        
    }
}


.layout-wrapper-content {
    
    .layout-wrapper-header {
        padding: 0 20px;
        box-shadow: 2px 2px 5px 2px #ddd;
        background: #fff;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }
    
    .ant-layout-content {
        background: #fff;
        z-index: 2;
    }
    
    .layout-header-nav {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .layout-header-user {
            margin-right: 20px;
            & > * {
                margin-right: 10px;
            }
        }
        
        .ant-radio-group {
            line-height: 1;
        }
    }
}
