
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}


#root {
    height: 100%;
    
    .ant-layout {
        height: 100%;
    }
    
}


:global(.iconfont){
    &:before {
        font-family: "iconfont" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

/**
* 通过Symbol引入的图标，svg标签都有fill属性，会导致修改不了图标颜色
* 解决：部分iconfont的图标手动设置颜色
*/
svg path {
    fill: currentColor;
}



.awe-page-breadcrumb {
    padding: 5px 0;
    white-space: nowrap;
}



// 列表右边操作列
.awe-table-action {
    display: flex;
    justify-content: space-between;
}


.awe-action-item {
    cursor: pointer;
    transition: all 400ms;
    
    &:hover {
        color: @primary-color;
    }
}

