@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
@import "./reset.css";
@import "./color.less";
@import "./layout";
@import "./iconfont";



:global(.iconfont){
    &:before {
        font-family: "iconfont" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


#root {
    height: 100%;
    
    .ant-layout {
        height: 100%;
    }
    
}
