
#animal-chart {
    .chart-pie-legend {
     
        .chart-pie-legend__data,
        .chart-pie-legend__name {
            min-width: 160px;
            text-align: center;
        }
    
        .chart-pie-legend__data {
            font-size: 1vw;
        }
        .chart-pie-legend__name {
            font-size: .5vw;
        }
    }
}
