.awe-page__main-header{

}
#key-management{
    .created-date-box{
        display: flex;
        justify-content: space-between;
    }
    .created-date-text{
        margin-top: 10px;
    }
    
}

